<html>
	<head>
		<title>My Facebook App</title>
		<style>

			.btn {

				display: block;
				font-size: 150%;

			}

		</style>
	</head>
	<body>
		<h1>My Facebook App</h1>

		<a class="btn" id="login-btn" href="/auth/facebook">Login w/ Facebook</a>
	</body>
</html>